* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}
.title {
  font-size: 40px;
  margin-bottom: 0;
}

.title-caption {
  font-size: 16px;
}
#img-div {
  background-color: white;
  padding: 10px;
  margin: 0;
}
#img-caption {
  margin: 15px 0 5px 0;
  font-size: 16px;
}
#img{
  max-width: 100%;
}
.tribute-info{
  font-size: 16px;
}
.tribute-headline {
  margin: 50px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}
.tribute-text {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-size: 16px;
}
.tribute-text li{
  margin: 16px 0;
  font-size: 16px;
}
.information{
  font-style: italic;
  padding-left: 20px;
}
.italic{
  font-style: italic;
  padding-left: 20px;
}
